* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DECLARACIONES PARA EVITAR TRIANGULOS EN INPUTS NUMÉRICOS */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/***********************************************************/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 30px;
}
.contenedor {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
input {
    width: 100%;
    max-width: 200px;
    margin: 10px 20px;
    padding: 10px;
}
input[type="number"]{
    text-align: right;
}
input#resultado {
    margin: auto;
    display: block;
    border: none;
    background-color: lightblue;
    text-align: center;
}
@media(max-width: 500px){
    .contenedor{
        justify-content: center;
    }
}
